<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <iframe src="{% url 'cctv.video_feed' %}?username=admin&password=adminpass1&host=192.168.0.108&port=554" height="400" width="400"></iframe>
        </div>
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <iframe src="{% url 'cctv.video_feed' %}?username=admin&password=MTLpa$$1&host=192.168.0.250&port=554" height="400" width="400"></iframe>
        </div>
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <iframe src="{% url 'cctv.video_feed' %}?username=admin&password=MTLpa$$1&host=192.168.0.251&port=554" height="400" width="400"></iframe>
        </div>
    </div>
</div>
</body>
